<?xml version="1.0"?>
<configuration>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
    <pages enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <sessionState mode="InProc" cookieless="false"/>
		<httpRuntime executionTimeout="110"
														maxRequestLength="32760"
														maxQueryStringLength="32760"
														useFullyQualifiedRedirectUrl="false"
														minFreeThreads="8"
														minLocalRequestFreeThreads="4"
														appRequestQueueLimit="5000" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <runtime>
    <bindings>
      <basicHttpBinding>
        <binding name="DBInteractSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
  </runtime>
</configuration>