<div class="col-12">

    <div class="accordion shadow" id="accordionExample">
        <div class="card">
            <div class="card-header card-header-sm" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAssetsAssets" aria-expanded="true" aria-controls="collapseOne">
                        Assets
                    </button>
                </h2>
            </div>

            <div id="collapseAssetsAssets" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">

                <!-- here loading assets-assets.html -->

            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-sm" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAssetsMedia" aria-expanded="false" aria-controls="collapseTwo">
                        Media
                    </button>
                </h2>
            </div>
            <div id="collapseAssetsMedia" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

                <!-- here loading assets-media.html -->

            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-sm" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAssetsPersons" aria-expanded="false" aria-controls="collapseThree">
                        Persons
                    </button>
                </h2>
            </div>
            <div id="collapseAssetsPersons" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">

                <!-- here loading assets-persons.html -->

            </div>
        </div>
    </div>

</div>

<div class="" id="modal-window"></div>

<script src="templates/assets/assets.js"></script>