<div class="card-body">
    <div class="col-12">
        <div class="my-2">
            <div class="input-group input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-sm btn-primary">Add person</button>
                </div>
                <input class="form-control" type="text">
                <div class="input-group-append">
                    <button class="btn btn-sm btn-secondary">Search</button>
                </div>
            </div>
        </div>

        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">ID</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                <tr>
                    <td>Mark_Bernes</td>
                    <td>Singer</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Olga_Buzova</td>
                    <td>TP</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>Emma_Wotson</td>
                    <td>Actor</td>
                    <td>21</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="templates/assets/assets-persons.js"></script>