<table class="table table-sm table-borderless mt-3" style="font-size: .7rem;">
    <tbody>
        <tr>
            <td>Asset ID:</td>
            <td></td>
            <td>File ID:</td>
            <td></td>
            <td>Last shown:</td>
            <td></td>
        </tr>
        <tr>
            <td>Parent:</td>
            <td></td>
            <td>Program:</td>
            <td></td>
            <td>Type:</td>
            <td></td>
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Save</button>