<div class="row">
    <div class="col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Исходный файл:</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01"> </label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Время жизни в месяцах (0 = бесконечно): </span>
            </div>
            <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
    </div>
    <div class="col-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Действия по истечению: </label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option value="1" selected>Переместить</option>
              <option value="2">Удалить</option>
            </select>
        </div>
    </div>
    <div class="col-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
            </div>
            <div class="input-group-append">
                <span class="input-group-text">Не создавать ассет</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputReadyForAir">Готово к эфиру: </label>
            </div>
            <select class="custom-select" id="inputReadyForAir">
              <option value="1" selected>Да</option>
              <option value="2">Нет</option>
            </select>
        </div>
    </div>
    <div class="col-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputVersion">Версия: </label>
            </div>
            <select class="custom-select" id="inputVersion">
              <option selected>Неприменимо</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
        </div>
    </div>
</div>