<div class="col-12">

    <div class="accordion shadow" id="accordionPlaylists">
    </div>

    <!-- Файлы -->

    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Файлы
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionPlaylists">
            <div class="card-body" name="filesSection">

                <!-- сюда подгрузится секция Файл -->

            </div>
        </div>
    </div>

    <!-- Дополнительно -->

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed d-inline" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Дополнительно
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionPlaylists">
            <div class="card-body" name="additionSection">

                <!-- сюда подгружается секция Дополнительно -->


            </div>
        </div>
    </div>

    <!-- Задачи -->

    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Задачи
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionPlaylists">
            <div class="card-body" name="tasksSection">

                <!-- here loading Задачи section -->

            </div>
        </div>
    </div>
</div>

<script src="templates/kpp/kpp.js"></script>