<table class="table table-sm mt-3">
    <thead>
        <tr>
            <th scope="col">Дата и время выхода</th>
            <th scope="col">Название ассета</th>
            <th scope="col">Хронометраж</th>
            <th scope="col">Статус</th>
            <th scope="col">Имя файла</th>
            <th scope="col">Класс</th>
            <th scope="col">Ротация</th>
            <th scope="col">Тип</th>
        </tr>
    </thead>
    <tbody class="table-hover">
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr> 
        <tr>
            <th scope="row">3</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr>
    </tbody>
</table>