<div class="col-12">
    <table class="table table-sm mt-3">
        <thead>
            <tr>
                <th scope="col">broadcast date and time</th>
                <th scope="col">asset name</th>
                <th scope="col">timing</th>
                <th scope="col">status</th>
                <th scope="col">filename</th>
                <th scope="col">class</th>
                <th scope="col">rotation</th>
                <th scope="col">type</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@fat</td>
                <td>@fat</td>
                <td>@fat</td>
                <td>@fat</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-5">
            <button class="btn btn-outline-secondary btn-sm" name="playlistImport">Import</button>
            <button class="btn btn-outline-secondary btn-sm" name="insertAssets">Insert</button>
            <button class="btn btn-outline-secondary btn-sm">Delete selected</button>
            <button class="btn btn-outline-secondary btn-sm">Recalculation</button>
            <input type="number">
            <span class="pr-3">hrs</span>

        </div>
        <div class="col-2 text-center">
            <span class="pr-3"><strong>0 items total</strong></span>
        </div>
        <div class="col-5 text-right">
            <button class="btn btn-outline-secondary btn-sm">Today</button>
            <button class="btn btn-outline-secondary btn-sm">Tomorrow</button>
            <button class="btn btn-outline-secondary btn-sm">Tomorrow + 1</button>
            <input type="date">
        </div>
    </div>
</div>