@import '../bootstrap/scss/bootstrap';
body {
    background-color: rgb(15, 42, 86);
}

td {
    font-size: 0.7rem;
}

.rmenu-active {
    font-weight: bold;
    border-bottom: steelblue 3px solid;
}

.form-group {
    margin-bottom: 0;
}

p {
    margin-bottom: 5px;
}


/*  Checkboxes for add assets */

input.chk-btn {
    display: none;
}

input.chk-btn+label {
    border: 1px solid grey;
    //background: ghoswhite;
    padding: .1rem .5rem;
    cursor: pointer;
    border-radius: .2rem;
    font-size: .9rem;
}

input.chk-btn:not(:checked)+label:hover {
    box-shadow: 0px 1px 3px;
}

input.chk-btn+label:active,
input.chk-btn:checked+label {
    background: dimgray;
    color: white;
}


/*  Checkboxes for add assets --- end */

.form-control-sm {
    height: calc(1.7rem + 2px);
    padding: 0.15rem 0.2rem;
    font-size: 0.7rem;
    line-height: 1.2;
    border-radius: 0.2rem;
}

.input-group-sm>.form-control,
.input-group-sm>.custom-select,
.input-group-sm>.input-group-prepend>.input-group-text,
.input-group-sm>.input-group-append>.input-group-text,
.input-group-sm>.input-group-append>.custom-select,
.input-group-sm>.input-group-prepend>.custom-select,
.input-group-sm>.input-group-prepend>.btn,
.input-group-sm>.input-group-text,
.input-group-sm>.input-group-append>.btn {
    height: calc(1.7rem + 2px);
    padding: 0.15rem 0.2rem;
    font-size: 0.7rem;
    line-height: 1.2;
    border-radius: 0.2rem;
}

.input-group-sm>.form-control:not(textarea),
.input-group-sm>.custom-select {
    height: calc(1.7rem + 2px);
}

.custom-select {
    background: none;
}

// .custom-file-input {
//     height: calc(1.7rem + 2px);
// }
#fileClipChooseLabel.custom-file-label,
#fileClipChooseLabel.custom-file-label::after {
    height: auto;
    padding-top: .35rem;
    padding-bottom: .35rem;
}

#fileClipChooseLabel {
    font-size: 0.7rem;
}

.form-control.form-control-alert {
    background-color: rgb(253, 221, 209);
}


/* table media control */

.table-media-control>tr,
.table-media-source>tr {
    cursor: pointer;
}

.tr-media-source-broken {
    background-color: rgb(252, 209, 206);
}

.tr-media-source-used {
    background-color: rgb(214, 253, 211);
}

.table-media-control>tr:hover,
.table-media-source>tr:hover,
.table-media-control>tr:active,
.table-media-source>tr:active {
    background-color: steelblue;
    color: white;
}

.tr-media-control-active,
.tr-media-source-active {
    background-color: steelblue;
    color: white;
}


/* форматирование списков */

#selectSingers .list-group-item,
#selectedSingers .list-group-item {
    cursor: pointer;
}

#selectSingers .list-group-item:hover,
#selectedSingers .list-group-item:hover {
    background-color: steelblue;
    color: white;
}

.list-group-sm .list-group-item {
    padding: 0.3rem 1rem;
    font-size: .75rem;
}

.list-group-wrapper {
    height: 20rem;
    overflow: scroll;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 0.25rem;
    padding: 2px;
}


/* card header transform */

.card-header-sm {
    padding-top: 0;
    padding-bottom: 0;
}

.card-body-sm {
    padding: 0.25rem;
}


/* table rows control visualisation */

.tr-control {
    cursor: pointer;
}

.tr-control:hover {
    background-color: steelblue;
    color: white;
}


/* ------------------- Дерево файлов ---------------- */

.tree-Container {
    padding: 0;
    margin: 0;
}

.tree-Container li {
    list-style-type: none;
}


/* indent for all tree children excepts root */

.tree-Node {
    background-image: url(/images/i.gif);
    background-position: top left;
    background-repeat: repeat-y;
    margin-left: 18px;
    zoom: 1;
}

.tree-IsRoot {
    margin-left: 0;
}


/* left vertical line (grid) for all nodes */

.tree-IsLast {
    background-image: url(/images/i_half.gif);
    background-repeat: no-repeat;
}

.tree-ExpandOpen .tree-Expand {
    background-image: url(/images/expand_minus.gif);
}


/* closed is higher priority than open */

.tree-ExpandClosed .tree-Expand {
    background-image: url(/images/expand_plus.gif);
}


/* highest priority */

.tree-ExpandLeaf .tree-Expand {
    background-image: url(/images/expand_leaf.gif);
}

.tree-Content {
    min-height: 18px;
    margin-left: 18px;
}

* html .tree-Content {
    height: 18px;
}

.tree-Expand {
    width: 18px;
    height: 18px;
    float: left;
}

.tree-ExpandLoading {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(/images/expand_loading.gif);
}

.tree-ExpandOpen .tree-Container {
    display: block;
}

.tree-ExpandClosed .tree-Container {
    display: none;
}

.tree-ExpandOpen .tree-Expand,
.tree-ExpandClosed .tree-Expand {
    cursor: pointer;
}

.tree-ExpandLeaf .tree-Expand {
    cursor: auto;
}

.borderows {
    border: lightgray 1px solid;
    border-radius: 3px;
    width: 100%;
}

.borderows .h-5 {
    height: 5em;
}

.borderows .h-8 {
    height: 8em;
}

.sticky {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    top: -1px;
    background-color: white;
    border-top: 1px solid #dee2e6 !important;
    border-bottom: 2px solid #dee2e6 !important;
}

// оформление плейлиста onAir
.tr-onair {
    background-color: rgb(241, 151, 151);
}

.tr-prepared {
    background-color: lightgoldenrodyellow;
}

.tr-queued {
    background-color: lightgreen;
}

.td-clips {
    background-color: #aec96e;
    // color: white;
}

// оформление плейлиста onAir
.td-clips {
    background-color: #aec96e;
    // color: white;
}

.td-ad {
    background-color: #ff9c8f;
    // color: white;
}

.td-design {
    background-color: rgb(255, 203, 139);
}

.td-prog {
    background-color: rgb(209, 169, 255);
}

.td-zastavki {
    background-color: rgb(169, 255, 248);
}

// оформление плейлиста Planned
.tr-clips-planned {
    background-color: #e4f5bd;
    // color: white;
}

.tr-ad-planned {
    background-color: #fde5e2;
    // color: white;
}

.tr-design-planned {
    background-color: rgb(252, 226, 195);
}

.tr-prog-planned {
    background-color: rgb(235, 217, 255);
}

.tr-zastavki-planned {
    background-color: rgb(201, 252, 247);
}


/* context menu */

.context-menu {
    display: none;
    position: absolute;
    z-index: 10000;
    padding: 12px 0;
    width: 240px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
    display: block;
}

.context-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu__item {
    display: block;
    margin-bottom: 4px;
}

.context-menu__item:last-child {
    margin-bottom: 0;
}

.context-menu__item:first-child {
    margin-top: 0;
}

.context-menu__link {
    display: block;
    padding: 4px 12px;
    color: #0066aa;
    text-decoration: none;
    font-size: .7rem;
}

.context-menu__link:hover {
    color: #fff;
    background-color: #0066aa;
}

.font-size-1 {
    font-size: 1rem;
}

.wid-1-4 {
    width: 20%;
}